<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('assets/head') %>

</head>
<header>
    <%- include('assets/header') %>
</header>
<body>

<div class="tests">

    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Minimum Point</th>
            <th>Score</th>
            <th>Answers</th>
        </tr>
        </thead>
        <tbody>
        <%for (var i = 0; i < all_completions.length; i++){%>
        <tr <%if(all_completions[i].score >= all_completions[i].minpoint){ %>style="background-color: rgba(0,157,0,0.87); color: white"><%} else{%>style="background-color: red; color: white"> <%}%>
            <td><%=  all_completions[i].FullName%></td>
            <td><%= all_completions[i].date%></td>
            <td><%= all_completions[i].minpoint%></td>
            <td><%= all_completions[i].score%></td>
            <td><a href="/userAnswers/<%= all_completions[i].completionID%>" class="linkbuttons" style="float: left">Answers</a></td>
        </tr>
        <% } %>
        </tbody>
    </table>
</div>
</body>
</html>