<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Questions</title>
    <style>
        .card {
            width: 300px;
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 20px;
            margin: 20px;
            background-color: #f9f9f9;
            box-shadow: 2px 2px 5px #888888;
        }

        .question {
            font-size: 18px;
            font-weight: bold;
        }

        .answer {
            margin-top: 10px;
            font-size: 16px;
        }

    </style>
    <%- include('assets/head')%>
</head>

<header>
    <%- include('assets/header')%>
</header>
<body>

<% if(confirm_message){ %>
    <p class="confirm"><%- confirm_message%></p>
<% }%>

<div style="alignment: center">
    <%for (var i = 0; i < all_questions.length; i++) {%>
        <div class="card">
            <div style="font-size: 12pt"><%= names[i].name%></div>
            <div class="question"><%= all_questions[i].text%></div>
            <div>
            <a href="/updateQuestion/<%= all_questions[i].id%>" class="linkbuttons">edit</a>
            </div>
        </div>
    <%}%>
</div>
</body>
</html>