<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tests</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background: #f4f4f4;
            margin: 0;
            padding: 0;
        }

        .tests{
            display: grid;
        }

        .card {
            width: 300px;
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 20px;
            margin: 20px;
            background-color: #f9f9f9;
            box-shadow: 2px 2px 5px #888888;
        }

        .question {
            font-size: 18px;
            font-weight: bold;
        }


        .createtest{
            display: inline-block;
            padding: 5px 10px;
            margin: 25px 0px 10px 22px;
            text-decoration: none;
            background-color: #007bff; /* Green background color */
            color: white; /* White text color */
            border: 1px solid black; /* Green border */
            transition: background-color 0.3s;
        }
        .createtest:hover {
            background-color: #0055ad; /* Darker green on hover */
            border: 1px solid black; /* Darker green border on hover */
        }

    </style>
    <%- include('assets/head') %>
</head>
<header>
    <%- include('assets/header') %>
</header>
<body>
<% if(confirm_message){ %>
<p class="confirm"><%- confirm_message%></p>
<% }%>



<div>
<a href="/createTest" class="createtest">Create Test</a>
</div>

<div class="tests">
    <%for (var i = 0; i < all_test.length; i++) {%>
        <div class="card">
            <div class="question"><%= all_test[i].name%></div>
            <div>Minimum point:</div>
            <div class="question"><%= all_test[i].minpoint%></div>
            <a href="/doTest/<%= all_test[i].id %>" class="linkbuttons">Fill</a>
            <%if (current_role==="ROLE_ADMIN" || current_role==="ROLE_TEACHER"){ %>
            <div>
            <a href="/updateTest/<%= all_test[i].id%>" class="linkbuttons">Add/Edit</a>
            </div>
                <a href="/allResults/<%= all_test[i].id%>" class="linkbuttons">Student Results</a>
            <% } %>
        </div>
    <%}%>
</div>
</body>
</html>